<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Test1">

<!--        <parameter name="MyName" value="Automation"></parameter>-->


        <classes>
            <class name="Demo.TestNGParametersDemo">

            </class>
        </classes>
    </test>
</suite>